.clickable:hover {
  background-color: #f8f9fa; /* Light grey background on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for the hover effect */
}

/* styles.css */

.navbar {
  height: 60px; /* Adjust as needed */
  padding-bottom: 30px;
}

/* Additional styles for the navbar-brand if required */
.navbar-brand {
  display: inline-block;
  padding: 0 15px;
}

/* styles.css */
/* General class for icons in the navbar to control size and maintain aspect ratio */
.navbar-icon {
  height: auto; /* Height will scale proportionally */
  vertical-align: middle; /* Align icon vertically */
}

/* Individual styling for the home icon */
#back-button img {
  width: 55px; /* Or any size you want */
  margin-left: 25px; /* Adjust the margin as needed */
  cursor: pointer;
}

/* Individual styling for the profile icon */
#profile-icon img {
  width: 100px; /* Adjust the size as needed */
  margin-right: 10px; /* Adjust the margin as needed */
  cursor: pointer;
}

/* Add responsiveness for smaller screens */
@media (max-width: 768px) {
  #home-icon {
    width: 20px; /* Smaller size for mobile */
    margin-right: 5px;
  }
  #profile-icon {
    width: 20px; /* Smaller size for mobile */
    margin-left: 5px;
  }
}
.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input[type="number"],
input[type="text"],
select {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

/* krafttraining.css */
.training-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.training-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#training-form {
  display: flex;
  flex-direction: column;
}

#training-form label {
  margin-top: 1rem;
}

#training-form input[type="number"],
#training-form select {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

/* styles/profile.css */
.profile-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="number"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
